* {
    box-sizing: border-box;
}

.box {
    display: inline-block;
    background-color: #F1F1F1;
    width: 18em;
    height: 18em;
    vertical-align: top;
    margin-bottom: 8px;
    overflow: scroll;
    padding: 8px;
    text-align: center;
}

.highlight {
    border-top: 6px solid rgba(0,255,0,0);
    border-bottom: 6px solid rgba(0,255,0,0);
}